.answerButton {
    font-family: inherit;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--background-color-light);
    transition-duration: var(--transition-duration-short);
    align-content: center;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}

.default {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.default:hover {
    transform: scaleY(1.05) scaleX(1.01);
    cursor: pointer;
    background-color: var(--button-blue);
    border-color: var(--button-blue-light);
}

.noselect {
    background-color: var(--background-color);
    color: var(--background-color-light);
}

.noselect:hover {
    transform: none;
    cursor: default;
}

.correct{
    background-color: var(--accent-green);
    border-color: var(--accent-green-light);
}

.correct:hover {
    transform: none;
    cursor: default;
}

.correct-not-selected {
    background-color: var(--background-color);
    color: var(--accent-green-light);
    border-color: var(--accent-green);
}

.correct-not-selected:hover {
    transform: none;
    cursor: default;
}

.incorrect{
    background-color: var(--accent-red);
    border-color: var(--accent-red-light);
    color: var(--accent-red-light);
}

.incorrect:hover {
    transform: none;
    cursor: default;
}

#topDiv {
    align-items: center;
    width: 100%;
    display: flex;
}

button {
    font-size: 1em;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition-duration: var(--transition-duration-short);
}

#navButton{
    margin-top: 30px;
}

.disabled {
    border-color: var(--background-color-light);
    background-color: var(--background-color);
    color: var(--background-color-light);
}

.disabled:hover {
    transform: none;
    cursor: default;
}

button:hover {
    transform: scale(1.05);
}

#exitButton{
    width: 40px;
    box-sizing: border-box;
    border: 2px solid var(--background-color-light);
    background-color: var(--background-color);
    box-sizing: border-box;
    padding: 0px;
    background: url("../../assets/images/close.svg") center no-repeat;
}

#exitButton:hover {
    background-color: var(--accent-red);
    border: 2px solid var(--accent-red-light);
    color: var(--accent-red-light);
}

#divider {
    width: 100%;
    height: 2px;
    background-color: var(--background-color-light);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 1px;
}

#question {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 30px;
    padding-top: 0px;
}

#quizPanelContainer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quizPanel {
    width: 30%;
    min-width: 400px;
    max-width: 600px;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    padding: 30px;
}