.auth-headline {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 3em;
    text-align: center;
}

.auth-subheadline {
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 70px;
    text-align: center;
}

.auth-text, .auth-text-bottom {
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
}

.auth-text-bottom {
    margin-top: 60px;
}

.auth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 50%;
    min-width: 150px;
    max-width: 300px;
    margin-top: 10px;
}

.auth-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 40px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    transition: var(--transition-duration-short);
    color: var(--main-color);
}
  
.auth-box:hover {
    background-color: var(--main-color-light);
    border-color: var(--main-color-light);
    transform: scale(1.03);
    color: var(--text-color);
}
    