:root {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background-color: #2C2C2C;
    --primary-color: #E4E4E4;
    --accent-blue: #A8DADC;
    --accent-pink: #FFC1CC;
    --button-purple: #B39CD0;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
}