:root {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color-scheme: light dark;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background-color: #2C2C2C;
    --background-color-dark: #222222;
    --background-color-light: #444444;
    --background-color-light-2: #555555;
    --text-color: #E4E4E4;
    --text-color-dark: #737373;
    --accent-green: #234017;
    --accent-green-light: #519436;
    --accent-red: #401717;
    --accent-red-light: #8f3434;
    --main-color: #357abd;
    --main-color-light: #4a90e2;
    --transition-duration-short: 0.05s;
    background-color: var(--background-color);
    color: var(--text-color);
}
