.header {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.authors {
    align-self: flex-start;
}

.image {
    margin-top: 50px;
    border-radius: 15px;
    width: 100%;
    min-width: 350px;
}

.content {
    margin-top: 50px;
    width: 100%;
}

.content img {
    width: 100%;
}

.quizButton {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    min-width: 200px;
    height: 60px;
    font-size: 1.2em;
}

.quizButton:hover {
    transform: scale(1.02);
}

.homeButton {
    margin-top: 20px;
    width: 150px;
}

.loading {
    margin-top: 20px;
}