.article-container {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 70%;
    min-width: 500px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--text-color-dark);
    box-sizing: border-box;
    background-color: var(--background-color);
}

.search-bar-div {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    max-width: 800px;
    gap: 20px;
    box-sizing: border-box;
}

.search-multi {
    font-size: 1em;
    min-width: 120px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: var(--transition-duration-short);
}

.search-multi-notselected {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: var(--background-color);
}

.search-multi-notselected:hover {
    transform: scale(1.04);
    border-color: var(--main-color-light);
    color: var(--main-color-light);
}

.search-multi-selected {
    --selected-border-angle: 0deg;
    border: 2px solid transparent;
    border-radius: 10px;
    animation: 3s rotate linear infinite;
    color: var(--text-color);
    background-image: linear-gradient(var(--main-color), var(--main-color)), conic-gradient(from var(--selected-border-angle), var(--text-color), var(--main-color), var(--text-color), var(--main-color), var(--text-color));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

@keyframes rotate {
    to {
        --selected-border-angle: 360deg;
    }
}

@property --selected-border-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.search-multi-selected:hover {
    transform: scale(1.04);
    color: var(--text-color);
    background-image: linear-gradient(var(--main-color-light), var(--main-color-light)), conic-gradient(from var(--selected-border-angle), var(--text-color), var(--main-color-light), var(--text-color), var(--main-color-light), var(--text-color));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#multi-panel {
    width: 100%;
    height: 105px;
    max-width: 400px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: 2px solid var(--text-color);
    background-color: var(--background-color-dark);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#multi-panel-text {
    margin-top: 0px;
    font-size: 1em;
}

#multi-panel-button {
    font-size: 1em;
    width: 90%;
    height: 40px;
    animation: 3s rotate linear infinite;
    border: 2px solid transparent;
    border-radius: 10px;
    color: var(--text-color);
    background-image: linear-gradient(var(--main-color), var(--main-color)), conic-gradient(from var(--selected-border-angle), var(--text-color), var(--main-color), var(--text-color), var(--main-color), var(--text-color));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
}

#multi-panel-button:hover {
    transform: scale(1.03);
    background-image: linear-gradient(var(--main-color-light), var(--main-color-light)), conic-gradient(from var(--selected-border-angle), var(--text-color), var(--main-color-light), var(--text-color), var(--main-color-light), var(--text-color));
}

.article-card {
    background-color: var(--background-color-light);
    padding: 10px 15px; /* Reduced padding further for a smaller height */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width */
    max-width: 800px; /* Adjust max-width to make cards narrower */
    margin: 0 auto; /* Center the cards horizontally */
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition-duration: var(--transition-duration-short);
}

.article-card:hover {
    transform: scale(1.02);
}

.article-card-selected {
    border: 2px solid transparent !important;
    background-image: linear-gradient(var(--background-color-light-2), var(--background-color-light-2)), conic-gradient(from var(--selected-border-angle), var(--text-color), var(--background-color-light-2), var(--text-color), var(--background-color-light-2), var(--text-color));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: 3s rotate linear infinite;
    transform: scale(1.02);
}

.article-card-selected:hover {
    transform: scale(1.04);
}

.article-card a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--main-color-light);
    font-weight: bold;
}

.article-description {
    font-size: 1rem;
    margin-top: 5px; /* Reduced margin between title and description */
    color: var(--text-color-dark2);
}

.article-card-loading {
    background-color: var(--background-color-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width */
    height: 123px;
    max-width: 800px; /* Adjust max-width to make cards narrower */
    margin: 0 auto; /* Center the cards horizontally */
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.article-card-spinner {
    width: 25px;
    height: 25px;
    border: 4px solid var(--text-color-dark);
    border-top: 4px solid #555;
    border-radius: 50%;
    animation: spin 1.3s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-no-results {
    margin-top: 20px;
    align-self: center;
}
