.feed-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--text-color-dark);
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--background-color);
    max-width: 800px;
}

.articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
}

.article-card {
    background-color: var(--background-color-light);
    padding: 10px 15px; /* Reduced padding further for a smaller height */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width */
    max-width: 800px; /* Adjust max-width to make cards narrower */
    margin: 0 auto; /* Center the cards horizontally */
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition-duration: var(--transition-duration-short);
}

.article-card:hover {
    transform: scale(1.02);
}

.article-card a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--main-color-light);
    font-weight: bold;
}

.article-description {
    font-size: 1rem;
    margin-top: 5px; /* Reduced margin between title and description */
    color: var(--text-color-dark2);
}

.article-card-loading {
    background-color: var(--background-color-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width */
    height: 123px;
    max-width: 800px; /* Adjust max-width to make cards narrower */
    margin: 0 auto; /* Center the cards horizontally */
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.article-card-spinner {
    width: 25px;
    height: 25px;
    border: 4px solid var(--text-color-dark);
    border-top: 4px solid #555;
    border-radius: 50%;
    animation: spin 1.3s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-no-results {
    margin-top: 20px;
    align-self: center;
}
